.burger-constructor-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    max-height: 540px;
    overflow: scroll;
}

.burger-constructor-container::-webkit-scrollbar {
    width: 8px;
}

.burger-constructor-container::-webkit-scrollbar-corner {
    color: transparent;
}

.burger-constructor-container::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}

.burger-constructor-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.counter {
    position: relative;
    background-color: transparent;
}

@media screen and (min-width: 1600px) {
    .constructor-element {
        margin-right: 15px;
    }
}

@media screen and (max-width: 1130.5px) {
    .burger-constructor-actions {
        justify-content: center;
    }
}