.burger-ingredients-container {
    max-height: 700px;
    overflow: scroll;
}

.burger-ingredients-container::-webkit-scrollbar {
    width: 8px;
}

.burger-ingredients-container::-webkit-scrollbar-corner {
    color: transparent;
}

.burger-ingredients-container::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}

.burger-ingredients-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ingredient-group-heading {
    text-transform: capitalize;
}

.card {
    text-align: center;
}

.card:nth-child(2) {
    padding-left: 24px;
}

.card-icon-price {
    display: flex;
    justify-content: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.modal-content {
    background-color: #1c1c21;
    border-radius: 20px;
}

.modal-close-button {
    background-color: transparent;
    border: 0;
    color: #f1f1f1;
    font-size: 1em;
    line-height: 1.25;
    cursor: pointer;
}

.modal-content img {
    width: 70%;
    height: 70%;
}

.ingredient-info {
    display: flex;
    justify-content: center;
    gap: 20px;
}